<a href="{{ url("mg_user_login_oauth", {service: "facebook"}) }}" class="ui facebook button huge biger">
    <i class="facebook icon"></i>
    {{ "_mg.user.oauth.service.facebook"|trans }}
</a>

<a class="ui twitter button huge biger" data-content="<i class='smile icon'></i> {{ "_mg.user.oauth.coming_zoon"|trans }}">
    <i class="twitter icon"></i>
    {{ "_mg.user.oauth.service.twitter"|trans }}
</a>

<a class="ui google-plus button huge biger" data-content="<i class='smile icon'></i> {{ "_mg.user.oauth.coming_zoon"|trans }}">
    <i class="google-plus icon"></i>
    {{ "_mg.user.oauth.service.google"|trans }}
</a>