<a class="ui facebook button huge" href="{{ url("mg_user_oauth_connect", {service: "facebook"}) }}">
    <i class="facebook icon"></i>
    {{ "_mg.user.oauth.service.facebook"|trans }}
</a>

<a class="ui twitter button huge" data-content="<i class='smile icon'></i> {{ "_mg.user.oauth.coming_zoon"|trans }}">
    <i class="twitter icon"></i>
    {{ "_mg.user.oauth.service.twitter"|trans }}
</a>

<a class="ui google plus button huge" data-content="<i class='smile icon'></i> {{ "_mg.user.oauth.coming_zoon"|trans }}">
    <i class="google plus icon"></i>
    {{ "_mg.user.oauth.service.google"|trans }}
</a>

<a class="ui github button huge" data-content="<i class='smile icon'></i> {{ "_mg.user.oauth.coming_zoon"|trans }}">
    <i class="github icon"></i>
    {{ "_mg.user.oauth.service.github"|trans }}
</a>