{% set page = "mg-user-login" %}
{% extends "MagiceWebBundle:Frontend:layout.html.twig" %}

{% block content %}
    <div class="container">
        <div class="ui top aligned relaxed stackable grid basic segment">
            <div class="ten wide column">
                <div class="ui raised stacked segment">
                    <div class="ui form large {% if error %}error{% endif %}">

                        <div class="ui header">
                            <div class="logo"></div>

                            <div class="content">{{ "_mg.user.login.header"|trans }}</div>
                        </div>

                        <div class="ui horizontal icon divider">
                            <i class="circular lock icon"></i>
                        </div>

                        {% if error %}
                            <div class="ui error message">{{ error }}</div>
                        {% endif %}

                        <form action="{{ path("fos_user_security_check") }}" method="post">
                            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>

                            <div class="field">
                                <label for="username">{{ '_mg.user.login.username.label'|trans }}</label>

                                <div class="ui left labeled icon large input">
                                    <input placeholder="{{ "_mg.user.login.username.placeholder"|trans }}" type="text" id="username" name="_username" value="{{ last_username }}" required="required">
                                    <i class="user icon"></i>
                                </div>
                            </div>

                            <div class="field">
                                <label for="password">{{ '_mg.user.login.password.label'|trans }}</label>

                                <div class="ui left labeled icon large input">
                                    <input placeholder="{{ "_mg.user.login.password.placeholder"|trans }}" type="password" id="password" name="_password" required="required" autocomplete="off">
                                    <i class="lock icon"></i>
                                </div>
                            </div>

                            <div class="field">
                                <div class="ui toggle checkbox" data-content="{{ "_mg.user.login.remember_me.notice"|trans }}" data-variation="inverted">
                                    <input type="checkbox" id="remember_me" name="_remember_me" value="on">
                                    <label for="remember_me">{{ '_mg.user.login.remember_me.label'|trans }}</label>
                                </div>
                            </div>

                            <div class="action right">
                                <button class="ui black big button" type="submit" id="_submit" name="_submit">
                                    {{ '_mg.user.login.button.submit'|trans }}
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
                <a href="{{ url('fos_user_resetting_request') }}"><i class="icon warning sign"></i> {{ "_mg.user.login.button.forgot_password"|trans }}</a>
                <a href="{{ url('fos_user_registration_register') }}"><i class="icon child"></i> {{ "_mg.user.login.button.register"|trans }}</a>
            </div>

            <div class="six wide column">
                <h3 class="ui header">
                    {{ "_mg.user.oauth.header"|trans }}
                    <div class="sub header block">{{ "_mg.user.oauth.sub_header"|trans }}</div>
                </h3>
                {% include "MagiceUserBundle::oauth.html.twig" %}
            </div>
        </div>
    </div>
{% endblock content %}