{% extends "MagiceUserBundle::layout.html.twig" %}

{% block mg_user_content %}

    <form action="{{ path('mg_user_change_password') }}" {{ form_enctype(form) }} method="POST">
        {{ form_widget(form) }}
        <div>
            <input type="submit" value="{{ '_mg.user.change_password.button.submit'|trans }}" />
        </div>
    </form>

    <a href="{{ url('mg_user_resetting_request') }}"><i class="icon exclamation"></i> {{ "_mg.user.change_password.button.forgot_password"|trans }}</a>
{% endblock mg_user_content %}
