{% set page = "mg-user-change-password" %}
{% extends "MagiceWebBundle:Backend:layout.html.twig" %}

{% block content %}

    <div class="ui raised segment">

        <h2>{{ "_mg.user.change_password.header"|trans }}</h2>

        <div class="ui form {{ ui_form_failure(form) }}">

            {{ ui_form_errors() }}

            <form action="{{ path('fos_user_change_password') }}" {{ form_enctype(form) }} method="POST">

                {{ ui_form_widget(form.current_password, {'o:icon': 'lock'}) }}

                {{ ui_form_widget(form.plainPassword, {'o:icon': 'lock'}) }}

                {{ ui_form_hiddens(form) }}

                <div class="action right">
                    <div class="left item">
                        <a href="{{ path("fos_user_resetting_request") }}">
                            <i class="icon life ring"></i>
                            {{ "_mg.user.change_password.button.forgot"|trans }}
                        </a>
                    </div>
                    <button type="submit" class="ui button">{{ '_mg.user.change_password.button.submit'|trans }}</button>
                </div>
            </form>
        </div>
    </div>

{% endblock content %}
